<h1> Angular Component Communication Demo</h1>
<!-- <h2> {{ title }} </h2>
<div> {{ version }} </div>
<div> {{ isProduction }} </div>
<div> {{ account | json}} </div>
<div> {{ getResult() }} </div>
<div> time1 of com1 : {{time1}}</div>
<hr>
<button (click)="onClick()" > Click </button>
<button (click)="onClickViewChild()" > ClickViewChild </button>


<div> Login Status : {{ share.getStatus() }}</div>
<app-com1 #com1 [count]="version" (change)="onchange1($event)"></app-com1> 
<app-com2 #com2 [count2]="version" (change2)=resetVersion($event)></app-com2> -->
<hr> 
<app-asyn-awit></app-asyn-awit>